//COLORS//
$color-primary: #FCB97D;
$color-secondary: #7D7C7A;
$color-accent: #A30B37;
$color-bg: #EBDBA7;
$color-text: #333;

//BOX SHADOWS//
$box-shadow-down : 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-up : 0 -2px 4px rgba(0, 0, 0, 0.1);