@use '../../styles/variables.scss' as *;

.header {
    background-color: $color-primary;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: $box-shadow-down;

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-text;
    }
}